// Colors
$color-primary: #5a40e2;
$color-secondary: #4cc5f9;
$color-black: #333333;
$color-black-blue: #36394c;
$color-black-light: #6f6f6f;
$color-white: #ffffff;
$color-gray: #dbdbdb;
$color-gray-placeholder: #b5b5b5;
$color-red: #ee1f69;
$color-red-variant: #f1377a;
$color-green: #0b833e;
$color-green-variant: #04b382;
// $color-green: #40d599;
// $color-green: #009950;
$bg-color-app: #fbfbfb;
$bg-color-violet: #f2f1fa;
$bg-color-red: #ffeef3;
$bg-color-green: #dcfbee;
$bg-gradient-primary: linear-gradient(162.46deg, #5a40e2 0%, #4cc5f9 100%);
$btn-gradient-primary: linear-gradient(
  90deg,
  #5a40e2 0%,
  rgba(90, 64, 226, 0.7) 100%
);
$btn-gradient-secondary: linear-gradient(
  90deg,
  #4cc5f9 0%,
  rgba(76, 197, 249, 0.7) 100%
);
