// Responsive mixins
$mobile: 375px;
$mediumMobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;
$widescreen: 1400px;

@mixin mobile() {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

@mixin mediumMobile() {
  @media (min-width: #{$mediumMobile}) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop() {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin widescreen() {
  @media (min-width: #{$widescreen}) {
    @content;
  }
}
